[submodule "esp-idf"]
	path = esp-idf
	url = git@github.com:espressif/esp-idf.git
	branch = release/v5.4
[submodule "main/lib/coreMQTT"]
	path = main/lib/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
